<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MortgageMate</title>
    <h1>MortgageMate</h1>
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <form action="/checkApproval" method="POST">
        <div>
            <label for="monthlyCarPayment">Monthly Car Payments:</label>

            <input type="number" id="monthlyCarPayment" name="carPayment" step="0.01" />
        </div>

        <br>

        <div>
            <label for="studentLoanPayment">Student Loan Payment:</label>

            <input type="number" id="studentLoanPayment" name="studentLoanPayment" step="0.01" />
        </div>

        <br>

        <div>
            <label for="GrossMonthlyIncome">Gross Monthly Income:</label>

            <input type="number" id="GrossMonthlyIncome" name="grossIncome" step="0.01" />
        </div>

        <br>

        <div>
            <label for="Est.monthlyPayment">Est. Monthly Mortgage Payment:</label>

            <input type="number" id="Est.monthlyPayment" name="mortgage" step="0.01" />
        </div>

        <br>

        <div>
            <label for="CreditScore">Credit Score:</label>

            <input type="number" id="CreditScore" name="creditScore" step="0.01" />
        </div>

        <br>

        <div>
            <label for="MonthlyCreditCardPayment">Monthly Credit Card Payment:</label>

            <input type="number" id="MonthlyCreditCardPayment" name="cardPayment" step="0.01" />
        </div>
        <br>

        <div>
            <label for="HomeAppraisedValue">Home Appraised Value:</label>

            <input type="number" id="HomeAppraisedValue" name="appraisedValue" step="0.01" />
        </div>
        <br>

        <div>
            <label for="DownPaymentValue">Down Payment Amount:</label>

            <input type="number" id="DownPaymentValue" name="downPayment" step="0.01" />
        </div>
        <br>

        <button id="batButton">Calculate My Chances</button>
        <div id="batContainer"></div>
        <script src="script.js"></script>
    </form>

</body>

</html>