body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: rgb(25, 26, 27);
  color: rgb(160, 151, 139);
}

label {
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
